<main>
  <div class="app-layout">
    <div class="sidebar">
      <.live_component module={FycAppWeb.Layouts.SidebarComponent} id="sidebar" current_user={@current_user} />
    </div>
    <div class="main-content">
      <div class="p-8">
        <.flash_group flash={@flash} />
        {@inner_content}
      </div>
    </div>
  </div>
</main>
